
.list-item{
    height: 500px;
    padding-top: 50px;
}
.desk{
    height: 400px;
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    padding-top: 10px;
}

h3{
    font-size: 30px;
}
