.wrap {
    background: url(../../../assets/img/foods.jpg);
    // background: url(../../../assets/img/goods.jpg);
    width: 93vw;
    height: 100vh;

    background-position: bottom; 
}
.form-ing{
float: left;
width: 40%;
padding-top: 20%;
}
.shelves{

float: right;
width: 60%;
padding-top: 20%;
padding-bottom: 20px;
}
h3{
    font-size: 34px ;
    padding: 20px;
}
.next{
    width: 360px;
    height: 30px;
  padding-left: 7px;
}