<div *ngIf="recipe$ | async as recipe">
  <div class="title">{{recipe.name}}  <button (click)="gotoRecipeList(recipe)">Back</button>
  </div>
  <div class="flexwrap">
      <div class="photo"><img src={{recipe.image}}></div>
      <div class="description">{{recipe.recipeInstruction}}</div>
  </div>
  <ul>
    <li class="requiredIngridients" *ngFor="let subItem of recipe.recipeIngredient;">
      <div class="ingridient">{{subItem.name}}</div>
      <div class="amountOfIngridient">{{(subItem.count ? subItem.count : 'по вкусу')+' '+(subItem.measure ? subItem.measure : '')}}</div>
    </li>
  </ul>

</div>
