body, html {
  height: 100%;
}
.bg {
  width: calc(100vw - 104px);
  height: 100vh;
  background: url(../../../assets/img/plate.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  animation: backAnim 5s linear

}
/* Login container */
#container{
  position: absolute;
  top: 0;
  left: 104px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  //background: rgba(3,3,3,0.8);
  //box-shadow: 1px 1px 50px #000;
}

/* Heading */
h1{
  font-family: 'AleksandraCRegular', sans-serif;
  position: relative;
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  color: #575756;
}

/* Inputs */
button,
input{
  font-family: 'AleksandraCRegular', sans-serif;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #313131;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #575756;
  background: transparent;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a{
  border: none;
  background: transparent;
  color: #3c373c;
  outline: none;
}
a:hover{
  color: #667675;
  cursor: pointer;
}

input:focus{
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  border-bottom: 1px solid #575756;
}
.error{
  color: #8c0000;
}
/* Placeholders */
::-webkit-input-placeholder {
  color: color(#575756 a(0.8)); }
:-moz-placeholder { /* Firefox 18- */
  color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
  color: red;  }
:-ms-input-placeholder {
  color: #333;  }
@-webkit-keyframes backAnim {
  0% {
    background: whitesmoke;
  }
  50% {
    background: whitesmoke;
  }
  100% {
    background: transparent;
  }
}
@keyframes backAnim {
  0% {
    background: whitesmoke;
  }
  50% {
    background: whitesmoke;
  }
  100% {
    background: transparent;
  }
}
/* Link */
button {
  color: #3c373c;
  outline: none;
  padding: 4px 8px;
  background: rgba(0, 128, 0, 0.57);
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  &:disabled{
    background: rgba(249, 152, 25, 0.76);
    &:hover{
      cursor: default;
      opacity: 1;
    }
  }
}
@media (max-width: 600px){
  .bg{
    width: 100vw;
    height: calc(100vh - 104px);
  }
  #container {
    left: 0;
    top: -104px;
  }
}


