body, html {
  height: 100%;
}
.bg {
  width: calc(100vw - 104px);
  height: 100vh;
  background: url(../../../assets/img/plate.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}
/* Login container */
#container{
  position: absolute;
  top: 0;
  left: 104px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  //background: rgba(3,3,3,0.8);
  //box-shadow: 1px 1px 50px #000;
}

/* Heading */
h1{
  font-family: 'AleksandraCRegular', sans-serif;
  position: relative;
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  color: #575756;
}

/* Inputs */
a,
input{
  font-family: 'AleksandraCRegular', sans-serif;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #313131;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #575756;
  background: transparent;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button{
  border: none;
  background: transparent;
  color: #3c373c;
  outline: none;
}
button:hover{
  color: #667675;
  cursor: pointer;
}

input:focus{
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  border-bottom: 1px solid #575756;
}

/* Placeholders */
::-webkit-input-placeholder {
  color: color(#575756 a(0.8)); }
:-moz-placeholder { /* Firefox 18- */
  color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
  color: red;  }
:-ms-input-placeholder {
  color: #333;  }

/* Link */
a{
  font-family: 'AleksandraCRegular', sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(249, 152, 25, 0.76);
}

a:hover{
  opacity: 0.7;
  cursor: pointer;
}


#remember-container{
  position: relative;
  margin: -7px 15px;

}

.checkbox {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #575756;
  background: rgba(3,3,3,.2);
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 50%;
  border: 1px solid #575756;
}

.checkbox:checked {
  background: rgba(3,3,3,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
  color: #fff;
  border-radius: 50%;
  border: 1px solid #575756;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 4px;
  color: #fff;
  border-radius: 50%;
}

#remember{
  position: absolute;
  font-size: 15px;
  color: rgba(60, 55, 60, 0.5);
  top: 9px;
  left: 3px;
}
@media (max-width: 600px){
  .bg{
    width: 100vw;
  }
  #container {
    left: 0;
  }
}


