* {
  position: relative;
  z-index: 1;
  color: rgba(155, 155, 155, 1);
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.8), 1px 1px 2px rgba(0, 0, 0, 1);
  font-family: sans-serif;
}
h3 {
  font-size: 2.5em;
}
.back-wraper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background {
  position: absolute;
  width: 150%;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.content-wraper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wraper {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 450px;
  align-items: flex-end;
  &.sub-btn {
    min-height: 50px;
    .btn {
      width: 140px;
      height: 40px;
      line-height: 40px;
      font-size: 1.5em;
      box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset 3px 15px 10px rgba(255, 255, 255, 0.1),
      inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px rgba(0, 0, 0, 1);
    }
    .before {
      width: 160px;
      height: 60px;
      box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset -5px -15px 20px rgba(255, 255, 255, 0.1),
    inset 1px 1px 2px rgba(0, 0, 0, 0.5), inset 5px 15px 40px rgba(0, 0, 0, 0.2), -2px -5px 50px -5px rgba(255, 255, 255, 0.1),
    2px 25px 30px -10px rgba(0, 0, 0, 0.4), 0px 0px 25px 8px rgba(60, 60, 60, 1);
    }
    .btn:active {
      color: rgba(0, 0, 0, 0.7);
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
      box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset 3px 15px 45px rgba(0, 0, 0, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        inset -3px -15px 45px rgba(255, 255, 255, 0.1), 1px 5px 10px -4px rgba(0, 0, 0, 1);
    }
  }
}
.btn {
  text-decoration: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  width: 340px;
  height: 340px;
  line-height: 340px;
  background: #25292c;
  text-align: center;
  border-radius: 999px;
  text-transform: uppercase;
  
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset 3px 15px 45px rgba(255, 255, 255, 0.1),
    inset -1px -1px 2px rgba(0, 0, 0, 0.5), inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px rgba(0, 0, 0, 1);
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  z-index: 1;
  font-size: 2.5em;
}
.before {
  background: #1a1a1a;
  width: 370px;
  height: 370px;
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 999px;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.3), inset -5px -15px 40px rgba(255, 255, 255, 0.1),
    inset 1px 1px 2px rgba(0, 0, 0, 0.5), inset 5px 15px 40px rgba(0, 0, 0, 0.2), -2px -40px 50px -20px rgba(255, 255, 255, 0.1),
    2px 35px 50px -10px rgba(0, 0, 0, 0.4), 0px 0px 25px 8px rgba(60, 60, 60, 1);
}
.btn:focus {
  outline: none;
}
.btn:active {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset 3px 15px 45px rgba(0, 0, 0, 0.2), inset -1px -1px 2px rgba(0, 0, 0, 0.5),
    inset -3px -15px 45px rgba(255, 255, 255, 0.1), 1px 5px 10px -4px rgba(0, 0, 0, 1);
}
