* {
  position: relative;
  z-index: 1;
  color: rgba(155, 155, 155, 1);
  font-family: AleksandraCRegular;
}
h3 {
  font-size: 2.5em;
  color: white;
  line-height: 65px;
}
.back-wraper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header{
  width: 100%;
  height: 65px;
  background-color: #232733;
  position: fixed;
  top: 0;
}
.footer{
  width: 100%;
  height: 65px;
  background-color: #232733;
  position: fixed;
  bottom: 0;
}
.background {
  position: absolute;
  width: 170%;
  // height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.content-wraper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background: transparent;
  animation: backAnim 5s linear;
}
.wraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-holder {
  min-width: 150px;
  display: inline-block;
  justify-content: center;
  &.sub-btn {
    min-height: 50px;
    .btn {
      width: 140px;
      height: 40px;
      line-height: 40px;
      font-size: 1.5em;
      line-height: 65px;
    }
    .btn:active {
      color: #ffda44;
    }
  }
}
.btn {
  text-decoration: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  line-height: 340px;
  background: #232733;
  text-align: center;
  color: whitesmoke;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  z-index: 1;
  font-size: 3em;
  &:hover {
    color: #ffda44;
  }
}
@-webkit-keyframes backAnim {
  0% {
    background: #232733;
  }
  50% {
    background: #232733;
  }
  100% {
    background: transparent;
  }
}
@keyframes backAnim {
  0% {
    background: #232733;
  }
  50% {
    background: #232733;
  }
  100% {
    background: transparent;
  }
}
@media only screen and (max-width: 600px) {
  h3 {
  }
  .background {
    .back-video {
      display: none;
    }
  }
  .content-wraper {
    animation: none;
    background: url("../../../assets/img/foods.jpg") center center no-repeat;
    background-size: cover;
  }
  .wraper {
    width: 50%;
    height: 220px;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    .btn-holder {
      margin: 0;
      .btn {
        height: 20%;
        width: 80%;
      }
      .before {
        width: 83.5%;
        height: 100%;
        line-height: 20vh;
      }
    }

  }
  .btn-holder {
    margin: 0;
  }
  .btn {
    width: 20vh;
    height: 20vh;
    line-height: 20vh;
  }
}
