
<div class="back-wraper">
  <div class="background">
    <iframe class="back-video" frameborder="0" height="1920" width="2500" src="https://youtube.com/embed/ISEkNFoIrNk?start=7&autoplay=1&controls=0&showinfo=0&loop=1&playlist=ISEkNFoIrNk&mute=1&modestbranding=1&disablekb=1"
       allowfullscreen>
    </iframe>
  </div>
</div>
<div class="content-wraper">
  <div class="header">
      <h3>Refrigerator</h3>
  </div>
    <div class="footer">
      <div class="btn-holder sub-btn">
        <a routerLink="/login" class="btn btn-blob">Sign in</a>
      </div>
      <div class="btn-holder sub-btn">
        <a routerLink="/about" class="btn btn-blob">About</a>
      </div>
  </div>
</div>

