.wrapper{
 background: linear-gradient(to right, #ffda44 , lightblue);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}
*{
  list-style: none;
}
ul{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemRecipe{
  padding-right: 0.5vh;
}
img{
  // width: 440px;
  // height: 440px;
  width:40vh;
  height: 40vh;
}
.name{
  color: #fff;
  position: absolute;
  width:40vh;
  margin-top: -170px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.bg{
  background:rgba(0,0,0,0.6);
  width:40vh;
  height: 40vh;
  margin-top:-40.5vh;
  position: absolute;
}
.description{
  text-align: justify;
  padding: 5px;
}

.itemRecipe {
  &:focus{
    outline: none;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.4;

  }
}
