.wrapper{
 background: linear-gradient(to right, #ffda44 , lightblue);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.6em;
}
*{
  list-style: none;
}
ul{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.itemRecipe{
  padding-right: 0.5vh;
}
img{
  // width: 440px;
  // height: 440px;
  width:40vh;
  height: 40vh;
}
.name{
  color: #fff;
  position: absolute;
  width:40vh;
  margin-top: -170px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.bg{
  background:rgba(0,0,0,0.6);
  width:40vh;
  height: 40vh;
  margin-top:-40.5vh;
  position: absolute;
}
.description{
  text-align: justify;
  padding: 5px;
}

.itemRecipe {
  &:focus{
    outline: none;
  }
  &:hover {
    cursor: pointer;
    opacity: 0.4;

  }
}
.search {
  &_container {
    padding: 20px;
    width: calc(100vw - 124px);
  }

  &_title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
  }

  &_input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
    background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
      color: color(#575756 a(0.8));
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
    }
  }
}
button{
  padding: 15px;
  margin: 10px 10px 0 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #232733;
  color: whitesmoke;
  border: transparent 1px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 40px;
  &:hover{
    background-color: #575157;
    cursor: pointer;
    &:active{
      color: rgba(249, 152, 25,1);
      border: rgba(249, 152, 25,1) 1px solid;
    }
  }
  &:disabled{
    background-color: transparent;
    color: #232733;
    border: #232733 1px solid;
    &:hover{
      opacity: 1;
      cursor: default;
    }
  }
}
