.wrapFlex{
  display: flex;
}
.title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}
*{
  list-style: none;
}

img{
  width: 265px;
  height: 265px;
}
.description{
  text-align: justify;
  padding: 5px;
}

.itemRecipe {
  &:focus{
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;

  }
}
