.wrapFlex{
  display: flex;
}
.title{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
}
*{
  list-style: none;
}
.requiredIngridients{
  width:80%;
  justify-content: space-around;
  display: flex;
  font-style: italic;
  font-size: 24px;
  color: darkgrey;
}
