<div class="wrapper">
<ul>
  <li class="itemRecipe" *ngFor="let item of ItemRecipe;">
    <div class="title" [routerLink]="['/recipies', item.id]" (click)="clickHandler(item.id)">{{item.name}}</div>
    <div class="wrapFlex">
      <div class="photo"><img src={{item.image}}></div>
      <div class="wrap">
        <div class="description">{{item.description.slice(0,200)+'...'}}</div>
         <!--<ul>-->
           <!--<hr>-->
          <!--<li class="requiredIngridients" *ngFor="let subItem of item.ingridients;">-->
            <!--<div class="ingridient">{{subItem.name}}</div>-->
            <!--<div class="amountOfIngridient">{{subItem.amount +' '+ subItem.measure}}</div>-->
          <!--</li>-->
           <!--<hr>-->
        <!--</ul>-->
      </div>
    </div>
  </li>
</ul>
</div>
<hr>
