.bg{
  background: linear-gradient(to right, #ffda44 , lightblue);
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: calc(100vw - 104px);
  display: flex;
  flex-direction: column;
}
.container{
  margin: 20px;
}
.wrap{
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
}
p{
  margin-top: 20px;
  text-align: justify;
}
h2{;
  margin-bottom: 20px;
}
h3{
  margin-top: 20px;
  width: 40%;
  float: left;
}
.pages{
  list-style-type: none;
  text-align: left;
  li{
    margin: 10px 0 0 0;
  }
}
a{
  padding-right: 20px;
}
.devs{
  list-style-type: none;
  li{

  }
}
