<div class="bg">
  <div class="wrap">
    <div class="container">
      <h2><a [routerLink]="['/start']">
        <img src="../../../assets/img/arrow.png" alt=""></a>About app</h2>
      <p>
        This is "Refrigerator" web application. The idea of this application is to
        store the ingridients you have in the fridge and to get cooking recipes based on your products.
        You can use navigation menu to navigate between different parts of application.
      </p>
      <ul class="pages">
        <li>Starting page - you can go to the login page and about page.</li>
        <li>Login page - you can log into your account or go to the register page, if you dont have one.</li>
        <li>Registration page - you can register new account.</li>
        <li>Fridge - you can store your ingridients in here.</li>
        <li>Recipes - you can read recipes here.</li>
        <li>Profile - page for changing your name, email or password.</li>
      </ul>
    </div>
    <div class="container">
      <h2>Developers</h2>
      <h3>Front-end</h3>
      <ul class="devs">
        <li>Fedir Besedin</li>
        <li>Alexey Rostovcev</li>
        <li>Alona Vasylenko</li>
      </ul>
      <h3>Back-end</h3>
      <ul class="devs">
        <li>Vitalii Ivanov</li>
        <li>Vladimir Sereda</li>
        <li>Aleksei Vasylevskyi</li>
      </ul>
    </div>
  </div>
</div>
