h3{
    font-size: 34px ;
    padding: 20px;
}
.input{
    margin-bottom: 20px;
}
.form-style{
    width: 300px;
    height: 30px;
  padding-left: 7px;
}
.datalist{
    width: 360px;
    height: 30px;
  padding-left: 7px;
}
.alert{
   margin-bottom: 15px;
}
.meas{
    width: 60px;
    height: 30px; 
}
.add{
    color:#000;
    font-size: 16px;
    width: 360px;
    height: 35px;
}