
.form{
    height: 270px;
}
.panel{
    height: 300px;
    max-width: 420px;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
    padding: 10px;
    border-radius: 5px;
    background: rgba(3,3,3,0.8);
    box-shadow: 1px 1px 50px #000;
    padding-bottom: 10px;
    overflow: hidden;
}
h3{
    font-size: 30px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
    margin-bottom: 20px;
}
.form-add{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
input{
    height: 40px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 20px;
    padding-left: 10px;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.5);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
::-webkit-input-placeholder {
    color: #ddd;  }
  :-moz-placeholder { 
    color: #ddd;  }
  ::-moz-placeholder {  
    color: #ddd;  }
  :-ms-input-placeholder {
    color: #ddd;  }
.datalist::-webkit-calendar-picker-indicator {
    display: none;
}
input:focus{
    outline: none;
    box-shadow: 3px 3px 10px rgb(104, 102, 102);
}
select{
    height: 40px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 20px;
    padding-left: 10px;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.5);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
select:focus{
    outline: none;
    box-shadow: 3px 3px 10px  rgb(104, 102, 102);
}
select option{
    background-color: black;
    outline: none;
    border: none;
}
.add{
    cursor: pointer;
    background-image: url(../../../assets/img/add.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
}
.next{
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    color: green;
    font-size: 30px;
}
.back{
    position: absolute;
    bottom: 50px;
    left: 50px;
    text-decoration: none;
    color: rgb(124, 4, 4);
    font-size: 30px;
}
.alert{
    color: red;
    font-size: 20;
}
