<div class="profile">
  <h2>You are logged in as {{user}}</h2>
  <h4>Change your name and email:</h4>
    <form class="changeform" #changeEmailForm="ngForm" (ngSubmit)="subEmail($event, changeEmailForm)">
      <p>
        <input type="text" name="name" placeholder="New name" [(ngModel)]="model.name">
      </p>
      <p>
      <input type="email" name="email" placeholder="New email" [(ngModel)]="model.email">
      </p>
      <button type="submit">Change</button>
    </form>
  {{this.errorEmail}}
  <h4>Change your password:</h4>
  <form class="changeform" #changePassForm="ngForm" (ngSubmit)="subPass($event, changePassForm)">
    <p>
    <input type="password" name="password" placeholder="New password" [(ngModel)]="model.password">
    </p>
    <p>
    <input type="password" name="password_confirmation" placeholder="Repeat password" [(ngModel)]="model.password_confirmation">
    </p>
    <button type="submit">Change</button>
  </form>
  {{this.errorPass}}
</div>
