.profile{
  display: block;
  float: right;
  width:100%;
  min-width: calc(100vw - 104px);
  height: 100vh;
  background: linear-gradient(to right, #ffda44 , lightblue);
}
h2{
  padding: 30px 10px 30px 10px;
}
h4{
  text-align: left;
  padding: 10px;
}
.changeform{
  display: block;
  width: 50%;
}
.error{
  color: #8c0000;
}
input{
  text-align: left;
}
@media (max-width: 600px) {
  .profile{
    width: 100vw;
  }
}
