
ul{
    text-align: center;
}
li{
    display: inline-block;
    width: 100%;
    max-width: 380px;
    font-size: 20px;
    margin: 10px;
    border-bottom: 1px solid white;
}
span{
    color: white;
    display: block;
    float: left;
}
.delete{
    float: right;
    cursor: pointer;
    background-image: url(../../../assets/img/delete.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;

}
