span{
   font-size: 20px;

}
.item ul{
    list-style: none;
}
.delete{
    padding-left: 10px;
    background: transparent;
    border: 0;
    outline: black;
}
.delete:hover{
    cursor:pointer;
}