nav{
    background: #232733;
    width: 104px;
    min-height: 100vh;
    height: 100%;
    position:fixed;
    z-index: 1;
}
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav li{
    padding: 22px;
}

@media (max-width: 600px) {
  nav {
    height: 100px;
    min-height: 0;
    width: 100%;
    bottom: 0;
    & ul{
      flex-direction: row;
    }
    & li{
      padding: 10px;
      display: inline-block;
    }
  }
}
@media (max-width: 420px){
  nav{
    height: 86px;
  }
}
