<div class="wrapper">
  <div class="search_container">
    <p class="search_title">
    </p>
    <input [(ngModel)]="searchText" class="search_input" type="text" placeholder="Search" >
    <button [routerLink]="['/recipies']" >All recipes</button>
    <button [routerLink]="['/recommended']" disabled>Recommended recipes</button>
  </div>
  <p *ngIf="this.recipies==false">Looks like there is no recommended recipes. But you can find what you want in all recipes!</p>
  <ul>
    <li [routerLink]="['/recommended', item.id-1]" (click)="clickHandler(item.id)" *ngFor="let item of recipies| search: searchText">
      <div class="itemRecipe">
        <img src={{item.picture}}>
        <div class="bg">
        </div>
        <div class="name">
          <div class="title" >{{item.name}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
<hr>
