<div class="main">
    <nav>
      <button routerLink="/start" routerLinkActive="active">Start</button>
      <button routerLink="/ingridients" routerLinkActive="active">Ingridients</button>
      <button routerLink="/recipies" routerLinkActive="active">Recepies</button>
      <button routerLink="/details" routerLinkActive="active">Details</button>
      <button routerLink="/profile" routerLinkActive="active">Profile</button>
      <button routerLink="/login" routerLinkActive="active">Login</button>
    </nav>
  <router-outlet></router-outlet>


</div>
