.other{
  padding-left: 120px;
}
.main {
    width: 100%;
    text-align: center;
}
button {
    border: 0;
    background: transparent;
    position: relative;
    z-index: 1;
}
button:focus {
    outline: none;
}
button:hover {
    text-decoration: underline;
}
.flex{
    display: flex;
}
@media (max-width: 600px){
  .other{
    padding: 0 0 100px 0;
  }
}
